<phpunit backupGlobals="false"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Respect\Config">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>library/</directory>
        </whitelist>
    </filter>
</phpunit>
